{% extends "base.html" %}
{% block content %}
<div class="wrap">
  <header class="post-header">
    <div class="tags">
      {% for tag in post.tags %}<span class="tag">{{ tag }}</span>{% endfor %}
    </div>
    <h1>{{ post.title }}</h1>
    <div class="byline">
      <span><strong>{% if post.author_url %}<a href="{{ post.author_url }}" target="_blank">{{ post.author }}</a>{% else %}{{ post.author }}{% endif %}</strong></span>
      <span>{{ post.date_display }}</span>
    </div>
  </header>

  {{ post.body_html | safe }}
</div>

<footer>{{ post.footer_html | safe }}</footer>
{% endblock %}
